<!-- Start: Sidebar Section  -->
<h2 class="px-4 py-3"> Practice App </h2>

<!-- Menu  -->
<ul class="nav flex-column mt-5">
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" aria-current="page" routerLink="subject"><i class='bx bx-notepad fs-4'></i><span class="text px-3">Subject-Crud</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" aria-current="page" routerLink="mvp"><i class='bx bxl-gmail fs-4'></i><span class="text px-3"> MVP-Demo</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" aria-current="page" routerLink="employee"><i class='bx bxl-gmail fs-4'></i><span class="text px-3"> Employees</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" aria-current="page" routerLink="dash"><i class='bx bxl-gmail fs-4'></i><span class="text px-3"> Dashboard</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" aria-current="page" routerLink="crud"><i class='bx bxl-gmail fs-4'></i><span class="text px-3"> Simple Crud</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" aria-current="page" routerLink="mayur"><i class='bx bxl-gmail fs-4'></i><span class="text px-3">Mentor Task</span></a>
    </li>
  </ul>
<!-- End: Sidebar Section  -->