<!-- Start: Sidebar Section  -->
<h1 class="px-4 py-3 text-nowrap fs-2"> Practice App </h1>

<!-- Menu  -->
<ul class="nav flex-column mt-5">
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" aria-current="page" routerLink="subject"><i class='bx bx-notepad fs-4'></i><span class="text text-nowrap px-3">Subject-Crud</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" aria-current="page" routerLink="mvp"><i class='bx bxl-gmail fs-4'></i><span class="text text-nowrap px-3"> MVP-Demo</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" aria-current="page" routerLink="customer"><i class='bx bxl-gmail fs-4'></i><span class="text text-nowrap px-3">Customer</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" aria-current="page" routerLink="mentors"><i class='bx bxl-gmail fs-4'></i><span class="text text-nowrap px-3">Mentors</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" aria-current="page" routerLink="file"><i class='bx bxl-gmail fs-4'></i><span class="text text-nowrap px-3">File upload</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" aria-current="page" routerLink="upload"><i class='bx bxl-gmail fs-4'></i><span class="text text-nowrap px-3">File upload Demo</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" aria-current="page" routerLink="cardDemo"><i class='bx bxl-gmail fs-4'></i><span class="text text-nowrap px-3"> Cards Demo </span></a>
    </li>
  </ul>
<!-- End: Sidebar Section  -->