<div class="container py-5">
    <button class="btn btn-primary my-5" routerLink="/employee/form"> Add </button>
    <table class="table table-striped border border-3">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Gender</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of listdata, let i = index ">
              <td scope="row"> {{ i + 1 }} </td>
              <td> {{ data.fname }} </td>
              <td> {{ data.age }} </td>
              <td> {{ data.phone }} </td>
              <td> {{ data.gender }} </td>
              <td> <span><button class="btn btn-warning me-3" (click)="onedit(data.id)"> Edit</button><button class="btn btn-danger" (click)="ondelete(data.id)"> Delete</button></span> </td>
          </tr>
        </tbody>
      </table>
</div>