<div class="row g-4 m-3">
    <div class="col-6">
        <div class="h-100 bg-white rounded-3">
            <div class="border-2 border-bottom pt-5 ps-5 pb-2">
                <span class="text-primary fw-bold fs-5 mb-3 border-bottom border-3 mx-3 pb-2 border-primary"> Pharmacy </span>
                <span class="text-primary fw-bold fs-5 mb-3 border-bottom border-3 mx-3 pb-2 border-primary"> Patient </span>
            </div>
        </div>
    </div>
    <div class="col-6">
        <p class="h-100 bg-white p-5 rounded-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quae
            cupiditate, placeat, impedit quod
            distinctio eaque rem culpa ipsam doloribus vitae ad exercitationem. Quasi quaerat fugiat provident, ipsa
            dolore enim nemo tempore animi, recusandae soluta velit cupiditate numquam molestias voluptatem
            reprehenderit assumenda corporis cumque aliquam dignissimos accusamus doloribus aliquid? Iste alias
            similique explicabo, omnis sequi dolor quibusdam dicta minus veniam reprehenderit ex soluta obcaecati eaque
            beatae provident dolores exercitationem blanditiis dolorum suscipit eos cumque ad enim sit nihil. Eaque
            consequuntur veritatis excepturi corporis optio dicta velit modi, eum cum atque qui? Molestias veniam error
            saepe dolores possimus blanditiis pariatur repellendus.</p>
    </div>
</div>