<div class="row g-4 m-3">
    <div class="col-6">
        <div class="bg-white rounded-3">
            <div class="border-2 border-bottom pt-5 ps-5 pb-2">
                <span class="fw-bold fs-5 mb-3 border-3 mx-3 pb-2" (click)="onroute()" [ngClass]="routing === true ? 'selected' : 'routing-title'"> Pharmacy </span>
                <span class="fw-bold fs-5 mb-3 border-3 mx-3 pb-2" (click)="onroute()" [ngClass]="routing === false ? 'selected' : 'routing-title'"> Patient </span>
            </div>
        </div>
    </div>
    <div class="col-6">
        
    </div>
</div>