<div class="d-flex">
    <form class="w-100" [formGroup]="oneGroup">
        <div class="mb-3">
            <label for="first" class="form-label">First Name</label>
            <input type="text" class="form-control" id="first" formControlName='firstName'>
            <div>
                <span class="text-danger"
                    *ngIf="getControls['firstName']?.errors?.['required'] && getControls['firstName'].touched"> This
                    feild is required </span>
                <span class="text-danger" *ngIf="getControls['firstName']?.errors?.['minlength']"> Min should be 5
                </span>
                <span class="text-danger" *ngIf="getControls['firstName']?.errors?.['maxlength']"> Max should be 15
                </span>
            </div>
        </div>
        <div class="mb-3">
            <label for="last" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="last" formControlName='lastName'
                [ngClass]="{ 'error' : getControls['lastName'].invalid}">
            <span class="text-danger"
                *ngIf="getControls['lastName']?.errors?.['required'] && getControls['lastName'].touched"> This feild is
                required </span>
            <span class="text-danger" *ngIf="getControls['lastName']?.errors?.['minlength']"> Min should be 5 </span>
            <span class="text-danger" *ngIf="getControls['lastName']?.errors?.['maxlength']"> Max should be 15 </span>
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-warning" routerLink="/progess/form2" (click)="onNext()"> Next </button>
        </div>
    </form>
</div>