<div class="d-flex">
    <form class="w-100">
        <div class="mb-3">
            <label for="first" class="form-label">First Name</label>
            <input type="email" class="form-control" id="first">
        </div>
        <div class="mb-3">
            <label for="last" class="form-label">Last Name</label>
            <input type="password" class="form-control" id="last">
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-warning" routerLink="/progess/form2" (click)="onNext()"> Next </button>
        </div>
    </form>
</div>