// Main 
$primary : #0161F0;

// heading 
$headings-color: $primary;

// Container 
$container-bg:#e5e5e5;

// Sidebar 
$nav-link-color: white;
$nav-link-hover-color: $primary;

// Crad 
$card-border-color: red;