<form class="p-5 rounded-3 bg-white" [formGroup]="filterGroup" (ngSubmit)="onSubmit()">
    <h3> Filter </h3>
    <div class="row mt-2 g-4">
        <div class="col-6">
            <label for="fname" class="form-label"> Name </label>
            <input type="text" name="fname" id="fname" class="form-control" formControlName = 'fname'>
        </div>
        <div class="col-6">
            <label for="age" class="form-label"> Age </label>
            <input type="number" name="age" id="age" class="form-control" formControlName = 'age'>
        </div>
        <div class="col-6">
            <label for="city" class="form-label"> City </label>
            <select class="form-select" aria-label="Default select example" formControlName = 'city'>
                <option value="Valsad">Valsad</option>
                <option value="Surat">Surat</option>
                <option value="Gandevi">Gandevi</option>
                <option value="Vapi">Vapi</option>
              </select>
        </div>
        <div class="col-6">
            <label for="gender" class="form-label"> Gender </label>
            <div class="d-flex mt-2">
                <input type="radio" name="gender" id="male" class="form-check-input" value="Male" formControlName = 'gender'>
                <label for="male" class="form-check-label mx-3"> Male </label>
                <input type="radio" name="gender" id="female" class="form-check-input" value="Female" formControlName = 'gender'>
                <label for="female" class="form-check-label mx-3"> Female </label>
            </div>
        </div>
    </div>
    <div class="d-flex mt-5 justify-content-between">
        <div>
            <button type="submit" class="btn btn-success me-4"> Submit </button>
            <button type="reset" class="btn btn-primary"> Reset </button>
        </div>
        <button type="button" class="btn btn-danger" (click)="onCancel()"> Cancel </button>
    </div>
</form>