<div class="d-flex flex-column">
    <form class="row">
        <div class="mb-3 col-12">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" id="address">
        </div>
        <div class="mb-3 col-6">
            <label for="state" class="form-label">State</label>
            <input type="text" class="form-control" id="state">
        </div>
        <div class="mb-3 col-6">
            <label for="city" class="form-label">City</label>
            <input type="text" class="form-control" id="city">
        </div>
    </form>
    <div class="d-flex justify-content-between">
        <button class="btn btn-danger" routerLink="/progess/form2" (click)="onPrevious()"> Previous </button>
        <button class="btn btn-warning" routerLink="/progess/form4" (click)="onNext()"> Next </button>
    </div>
</div>