<div class="container p-5">
    <div class="d-flex justify-content-between position-relative">
        <div class="position-absolute progress-line" [ngClass]="status.length === 1 ? 'first' : ''" [ngClass]="status.length === 2 ? 'second' : ''" [ngClass]="status.length === 3 ? 'third' : ''" [ngClass]="status.length === 4 ? 'fourth' : ''"></div>
        <span class="cursor rounded-circle border border-3 px-3 py-2" style="z-index: 99;" (click)="onFirst()" routerLink="form1" [ngClass]="status.length < 5 ? 'active' : 'inactive'"> 1 </span>
        <span class="cursor rounded-circle border border-3 px-3 py-2" style="z-index: 99;" (click)="onSecond()" routerLink="form2" [ngClass]="status.length > 1 ? 'active' : 'inactive'"> 2 </span>
        <span class="cursor rounded-circle border border-3 px-3 py-2" style="z-index: 99;" (click)="onThird()" routerLink="form3" [ngClass]="status.length > 2 ? 'active' : 'inactive'"> 3 </span>
        <span class="cursor rounded-circle border border-3 px-3 py-2" style="z-index: 99;" (click)="onFourth()" routerLink="form4" [ngClass]="status.length > 3 ? 'active' : 'inactive'"> 4 </span>
    </div>
    <div class="h-100 bg-white rounded-3 shadow p-5 mt-5">
        <router-outlet></router-outlet>
    </div>
</div>