<div class="container py-5">
    <button class="btn btn-primary" (click)="above()"> Above 18 </button>
    <div *ngFor="let data of data">
        <h2 class="pt-5"> {{ data.department }} Department</h2>
        <div class="row g-5 py-5">
            <div class="col-3" *ngFor="let emp of data.employee, let i = index">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title fw-bold"> Employee {{ i+1 }} </div>
                        <div class="card-text d-flex flex-column py-3">
                            <p> Name : {{ emp.name }} </p>
                            <p> Age : {{ emp.age }} </p>
                            <p> Gender : {{ emp.gender }} </p>
                            <div *ngFor="let hobby of emp.hobbies, let i = index">
                                <p> Hobbies {{i+1}} : {{ hobby.hobby }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>