<!-- Wrapper  -->
<div class="wrapper d-flex h-100 overflow-hidden position-relative">

  <!-- Sidebar  -->
  <!-- <input type="checkbox" id="toggle" class="d-none">
  <label for="toggle" class="hamburger position-absolute"><i
      class='bx bx-chevron-left bg-white text-dark fs-2 d-flex align-items-center justify-content-center'></i></label>
  <div class="sidebar bg-dark overflow-hidden">
    <app-sidebar></app-sidebar>
  </div> -->

  <!-- Content -->
  <div class="content flex-grow-1 overflow-auto">
    <router-outlet></router-outlet>
  </div>
</div>