<div class="container bg-white rounded-3">
    <div class="details p-5 w-100">
        <div class="row g-4">
            <div class="col-6">
                <span class="fw-bold"> Name :- </span>
            </div>
            <div class="col-6">
                <span class="fw-bold"> Age :- </span>
            </div>
            <div class="col-6">
                <span class="fw-bold"> Email :- </span>
            </div>
            <div class="col-6">
                <span class="fw-bold"> Gender :- </span>
            </div>
            <div class="col-6">
                <span class="fw-bold"> Phone :- </span>
            </div>
        </div>
    </div>
    <div class="product-list mt-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Category</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th> 1 </th>
                    <td> Mark </td>
                    <td> Mark </td>
                    <td> Mark </td>
                    <td> Mark </td>
                </tr>
            </tbody>
          </table>
    </div>
    <button type="button" class="btn btn-primary"> Upload </button>
</div>