.wrapper{

    .hamburger{
        left: 235px;
        top: 50px;
        cursor: pointer;
        transition: $transition;

        .bx{
            border-radius: 50%;
        }
    }

    #toggle:checked ~ {
        
        & .sidebar{
            flex:0 0 60px;

            h1{
                transform: $transform;
            }

            .text{
                transform: $transform;
            }
        }

        & .hamburger{
            left: 45px;

            transform: rotate(180deg);
        }
    }
}